.venv/
venv/
src/*.egg-info/
**/__pycache__/
.pytest_cache/
.python-version
.DS_Store
pyrightconfig.json
**/.speakeasy/temp/
**/.speakeasy/logs/
.speakeasy/reports
.env
.env.local
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# pytest/coverage
.coverage
htmlcov/
coverage.xml

# build artifacts
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/